# リリースAPK署名用。このファイルを keystore.properties にコピーし、
# 値を埋めてから .\gradlew.bat assembleRelease を実行してください。
# keystore.properties は Git にコミットしないでください。

storePassword=あなたのキーストアのパスワード
keyPassword=あなたのキーのパスワード
keyAlias=pictureuploader
